* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --formBg: #111827;
  --textClr:#9199a5;
  --borderClr:#374151;
  --btnBg: #a78bfa;
  --gradient1: #e81cff;
  --gradient2:#40c9ff;
  --borderRadius: 5px;
}

body{
  display: grid;
  place-items: center;
  min-height: 100vh; 
  font-family: sans-serif;
  background-color: black;
  color: var(--textClr);
}


form{
  width: 320px;
  background-color: var(--formBg);
  padding: 30px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
main{
  background: linear-gradient(-45deg, var(--gradient1) 0%, var(--gradient2) 100%);
  border-radius: var(--borderRadius);
  padding: 5px;
}
header{
  color: white;
  text-align: center;
  padding: 10px;
}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input{
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid var(--borderClr);
  border-radius: var(--borderRadius);
  color: white;
}
input:focus{
  border-color: var(--btnBg);
}

.forgot{
  text-align: end;
  color: white;
}

button{
  padding: 10px;
  border: none;
  border-radius: var(--borderRadius);
  background-color: var(--btnBg);
  font-weight: bold;
  cursor: pointer;

}

.or{
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.or span{
  height: 2px;
  width: 100%;
  background-color: var(--borderClr);
}

.socials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

i{
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.sign{
  text-align: center;
}

.sign span{
  color: white;
}